[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blessed = "*"
numpy = "*"

[dev-packages]
mypy = "*"
pycodestyle = "*"
rstcheck = "*"
pytest = "*"
pytest-mock = "*"
build = "*"
tox = "*"
isort = "*"

[requires]
python_version = "3.10"
